#photo{
    border:2px solid lightblue;
    width:60px;
    height:60px;
}

#title{
    line-height: 30px;
    text-align: left;
    width:500px;
    height:100px;
    border-block-end: 2px solid lightcoral;
}

#text{
    text-align: left;
    vertical-align: left;
    width:500px;
    height:100px;
    border-block-end: 2px solid lightcoral;
    word-break: break-all;
    white-space: pre-wrap;
    word-wrap: break-word;
    line-height:30px;
}